*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'DM Serif Text', 'Arial';
    display: grid;
    background: linear-gradient(to left, rgba(0, 255, 42, 0.589), rgba(0, 119, 255, 0.589));
}
@media (min-width: 991px) and (max-width: 2000px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family:'DM Serif Text', 'Arial';
        display: grid;
        background: linear-gradient(to left, rgba(0, 255, 42, 0.589), rgba(0, 119, 255, 0.589));
    }
    /*POPPUP SOBRE A ADIÇÃO DE UM NOVO PARAMENTO*/
    #MensagensSobreAddPag{
        background: linear-gradient(to left, rgb(188, 238, 196), rgb(171, 208, 250));
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        padding: 1vh;
        transform: translate(-40% -0%);
        font-size: 3vh;
        text-align: center;
        border: 1px solid #0353ffda;
        border-radius: 5px;
        color: #000;
        animation: alerta 1s infinite linear;
    }
    /*ANIMAÇÃO PARA O POPPUP DE ADIÇÃO DE UM NOVO PAGAMENTO*/
    @keyframes alerta {
        from{
            background: rgb(248, 248, 248);
        }
        50%{
            background: rgb(252, 206, 0);
        }
        to{
            background: rgb(248, 248, 248);
        }
    }
    #mensagensNovPag p{
        overflow-wrap: break-word;
    }
    /*POPPUP QUE APARECE ANTES DE SAIR DO SITE*/
    dialog#saindoDoSite{
        position: absolute;
        top: 1%;
        margin-left: 50%;
        transform: translate(-50%);
        background: linear-gradient(to left, rgb(0, 255, 42), rgb(0, 119, 255));
        border-radius: 15px;
        padding: 1vh;
        border: 2px solid #0353ffda;
        animation: mover .3s;
        font-size: 2vh;
    }
    @keyframes mover {
        from{
            top: -10%;
            transform: translate(-50%);
        }
        to{
            top: 1%;
            transform: translate(-50%);
        }
    }
    /*POPPUP PARA ADICIONAR PAGAMENTO*/
    dialog#dialogAddPag{
        background: linear-gradient(to left, rgb(167, 255, 181), rgb(127, 187, 255));
        position: absolute;
        top: 10%;
        left: 35%;
        transform: translate(-40% -40%);
        border: 1px solid #0353ffda;
        border-radius: 15px;
    }
    /*DIV TRONCO DO POPPUP PARA ADICIONAR PAGAMENTO*/
    div#AddPagamento{
        padding: 1vh;
    }
    /*DIV COM A IMAGEM DO 'X' PARA FECHAR O POPPUP*/
    div#imgFechar{
        text-align: right;
    }
    /*IMAGEM DO 'X' PARA FECHAR O POPPUP*/
    img#fechar{
        width: 5vh;
        cursor: pointer;
    }
    /*TÍTULO 'ADICIONAR NOVO PAGAMENTO'*/
    div#AddPagamento h2{
        padding: 1vh;
        text-decoration: underline;
    }
    /*DIV COM OS IMPUTs DE ENTRADA DOS DADOS*/
    #entradasNovPag{
        padding: 1vh;
        display: grid;
        gap: 1vh;
        border: 1px solid #0353ffda;
        border-radius: 15px;
    }
    /*INPUTs PARA ADICIONAR NOVO PAGAMENTO*/
    div#entradasNovPag input,
    div#entradasNovPag select{
        height: 5vh;
        font-size: 3vh;
        text-align: center;
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        color: #000;
    }
    /*PLACEHOLDER DE DENTRO DOS INPUTs*/
    div#entradasNovPag input::placeholder{
        color: #292727da;
    }
    /*DIV COM OS BUTTONs PARA SALVAR AS INFORMAÇÕES E PARA APAGAR AS INFORMAÇÕES*/
    div#butttons{
        margin-top: 5vh;
        padding: 1vh;
        text-align: center;
    }
    /*BUTTONs "APAGAR" E "SALVAR"*/
    div#butttons button{
        width: 25vh;
        height: 5vh;
        border-radius: 15px;
        cursor: pointer;
        background: linear-gradient(to left, #0099ff, #01fdbe);
        border: 1px solid #000;
    }
    /*ANIMAÇÃO QUANDO OS BUTTONs FORAM CLICADOS*/
    div#butttons button:hover{
        background: linear-gradient(to left, #ffe600, #01fdbe);
        animation: btncor 1s infinite linear;
    }
    /*KEYFRAME DE INTERAÇÃO DOS BUTTTONs*/
    @keyframes btncor {
        from{
            color: transparent;
            border: 1px solid #fff;
        }
        50%{
            color: #000;
            border: 1px solid #000;
        }
        to{
            color: transparent;
            border: 1px solid #fff;
        }
    }
    
    /*---------------------------------------------------------TOPO DO SITE*/
    
    /*DIV TONCO DO TOPO DO SITE*/
    div#topo{
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        border-bottom: 2px solid #000;
    }
    /*DIV COM A LOGO DO SITE*/
    div#logo{
        padding: 1vh;
    }
    div#logo img{
        width: 17vh;
        border-radius: 15px;
        border: 1px solid #000;
    }
    /*NOME DO SITE*/
    div#nomeSite{
        flex-grow: 1;
        text-align: center;
        font-size: 3.5vh;
        padding-top: 5vh;
    }
    /*DIV COM AS INFORMAÇÕES PESSOAIS E O BOTÃO DE SAÍDA*/
    div#infoPessoais{
        padding: 2vh;
        width: 55vh;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    /*LABELs AONDE FICAM AS INFORMAÇÕES DA PESSOA QUE FEZ LOGIN*/
    div#infoPessoais label{
        display: flex;
    }
    /*BUTTTON PARA SAIR DO SITE*/
    div#topo button{
        margin-top: 5vh;
        margin-right: 2vh;
        margin-left: 2vh;
        padding: 1vh;
        cursor: pointer;
        background: linear-gradient(to left, #0099ff, #01fdbe);
        border: 1px solid #000;
        border-radius: 5px;
    }
    div#topo button#sair:hover{
        background: linear-gradient(to left, #ffe600, #01fdbe);
        animation: btncor 1s infinite linear;
    }
    div#buttonSair img{
        width: 6vh;
    }
    
    /*---------------------------------------------------------------MEIO DO SITE*/
    
    /*DIV TRONCO DO MEIO DO SITE*/
    div#meio{
        height: 76vh;
    }
    /*BUTTON PARA ADICIONAR NOVO PAGAMENTO*/
    button#RegistPag{
        padding: 1vh;
        cursor: pointer;
        background: linear-gradient(to left, #0099ff, #01fdbe);
        border: 1px solid #000;
        border-radius: 5px;
        margin: 1vh;
    }
    button#RegistPag:hover{
        background: linear-gradient(to left, #ffe600, #01fdbe);
        animation: btncor 1s infinite linear;
    }
    /*DIV ONDE TEM A LISTA DE PAGAMENTOS REGISTRADOS*/
    div#pagamentos{
        display: flex;
        justify-content: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        max-width: 99%;
        height: 91%;
        margin-left: 1vh;
        border: 2px solid #000;
        background-color: rgba(255, 255, 255, 0.3);
        overflow: auto;
    }
    /*TABELA DE PAGAMENTOS*/
    table#tablePagamentos{
        width: 99%;
        height: 5vh;
    }
    /*LINHA DA TABELA DE PAGAMENTOS*/
    table th{
        background-color: green;
        border: 1px solid #000;
        font-weight: bold;
        text-align: center;
        font-size: 3vh;
    }
    tbody td{
        border: 1px solid #000;
        text-align: center;
        font-size: 2.5vh;
    }
    tbody td img{
        width: 20px;
        cursor: pointer;
    }
    /*---------------------------------------------------------------FINAL DO SITE*/
    
    /*DIV TRONCO DO FINAL DO SITE*/
    div#final{
        background-color: rgba(255, 255, 255, 0.2);
    }
    div#final{
        justify-content: center;
        display: flex;
    }
}

@media (min-width: 825px) and (max-width: 990px){
/*POPPUP SOBRE A ADIÇÃO DE UM NOVO PARAMENTO*/
#MensagensSobreAddPag{
    	background: linear-gradient(to left, rgb(188, 238, 196), rgb(171, 208, 250));
    	position: absolute;
    	top: 10%;
    	left: 0%;
    	width: 100%;
    	padding: 1vh;
	transform: translate(-40% -0%);
	font-size: 3vh;
	text-align: center;
    	border: 1px solid #0353ffda;
    	border-radius: 5px;
    	color: #000;
    	animation: alerta 1s infinite linear;
}
/*ANIMAÇÃO PARA O POPPUP DE ADIÇÃO DE UM NOVO PAGAMENTO*/
@keyframes alerta {
    from{
        background: rgb(248, 248, 248);
    }
    50%{
        background: rgb(252, 206, 0);
    }
    to{
        background: rgb(248, 248, 248);
    }
}
#mensagensNovPag p{
    overflow-wrap: break-word;
}
/*POPPUP QUE APARECE ANTES DE SAIR DO SITE*/
dialog#saindoDoSite{
    position: absolute;
    top: 1%;
    margin-left: 50%;
	transform: translate(-50%);
    background: linear-gradient(to left, rgb(0, 255, 42), rgb(0, 119, 255));
    border-radius: 15px;
    padding: 1vh;
    border: 2px solid #0353ffda;
    animation: mover .3s;
    font-size: 2vh;
}
@keyframes mover {
    from{
        top: -10%;
        transform: translate(-50%);
    }
    to{
        top: 1%;
        transform: translate(-50%);
    }
}
/*POPPUP PARA ADICIONAR PAGAMENTO*/
dialog#dialogAddPag{
    background: linear-gradient(to left, rgb(167, 255, 181), rgb(127, 187, 255));
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-40% -40%);
    border: 1px solid #0353ffda;
    border-radius: 15px;
}
/*DIV TRONCO DO POPPUP PARA ADICIONAR PAGAMENTO*/
div#AddPagamento{
    padding: 1vh;
}
/*DIV COM A IMAGEM DO 'X' PARA FECHAR O POPPUP*/
div#imgFechar{
    text-align: right;
}
/*IMAGEM DO 'X' PARA FECHAR O POPPUP*/
img#fechar{
    width: 5vh;
    cursor: pointer;
}
/*TÍTULO 'ADICIONAR NOVO PAGAMENTO'*/
div#AddPagamento h2{
    padding: 1vh;
    text-decoration: underline;
}
/*DIV COM OS IMPUTs DE ENTRADA DOS DADOS*/
#entradasNovPag{
    padding: 1vh;
    display: grid;
    gap: 1vh;
    border: 1px solid #0353ffda;
    border-radius: 15px;
}
/*INPUTs PARA ADICIONAR NOVO PAGAMENTO*/
div#entradasNovPag input,
div#entradasNovPag select{
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
}
/*PLACEHOLDER DE DENTRO DOS INPUTs*/
div#entradasNovPag input::placeholder{
    color: #292727da;
}
/*DIV COM OS BUTTONs PARA SALVAR AS INFORMAÇÕES E PARA APAGAR AS INFORMAÇÕES*/
div#butttons{
    margin-top: 5vh;
    padding: 1vh;
    text-align: center;
}
/*BUTTONs "APAGAR" E "SALVAR"*/
div#butttons button{
    width: 25vh;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
}
/*ANIMAÇÃO QUANDO OS BUTTONs FORAM CLICADOS*/
div#butttons button:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*KEYFRAME DE INTERAÇÃO DOS BUTTTONs*/
@keyframes btncor {
    from{
        color: transparent;
        border: 1px solid #fff;
    }
    50%{
        color: #000;
        border: 1px solid #000;
    }
    to{
        color: transparent;
        border: 1px solid #fff;
    }
}

/*---------------------------------------------------------TOPO DO SITE*/

/*DIV TONCO DO TOPO DO SITE*/
div#topo{
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	border-bottom: 2px solid #000;
}
/*DIV COM A LOGO DO SITE*/
div#logo{
	padding: 1vh;
}
div#logo img{
	width: 17vh;
	border-radius: 15px;
	border: 1px solid #000;
}
/*NOME DO SITE*/
div#nomeSite{
	flex-grow: 1;
	text-align: center;
	font-size: 3vh;
	padding-top: 5vh;
}
/*DIV COM AS INFORMAÇÕES PESSOAIS E O BOTÃO DE SAÍDA*/
div#infoPessoais{
	padding: 2vh;
	width: 55vh;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
/*LABELs AONDE FICAM AS INFORMAÇÕES DA PESSOA QUE FEZ LOGIN*/
div#infoPessoais label{
	display: flex;
}
/*BUTTTON PARA SAIR DO SITE*/
div#topo button{
	margin-top: 5vh;
	margin-right: 2vh;
	margin-left: 2vh;
	padding: 1vh;
	cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
	border-radius: 5px;
}
div#topo button#sair:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
div#buttonSair img{
	width: 6vh;
}

/*---------------------------------------------------------------MEIO DO SITE*/

/*DIV TRONCO DO MEIO DO SITE*/
div#meio{
	height: 76vh;
}
/*BUTTON PARA ADICIONAR NOVO PAGAMENTO*/
button#RegistPag{
	padding: 1vh;
	cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
	border-radius: 5px;
	margin: 1vh;
}
button#RegistPag:hover{
	background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*DIV ONDE TEM A LISTA DE PAGAMENTOS REGISTRADOS*/
div#pagamentos{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 99%;
    height: 91%;
    margin-left: 1vh;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: auto;
}
/*TABELA DE PAGAMENTOS*/
table#tablePagamentos{
    width: 99%;
    height: 3vh;
}
/*LINHA DA TABELA DE PAGAMENTOS*/
table th{
	background-color: green;
	border: 1px solid #000;
	font-weight: bold;
	text-align: center;
	font-size: 2vh;
}
tbody td{
	border: 1px solid #000;
    	text-align: center;
    	font-size: 2vh;
}
tbody td img{
    width: 20px;
    cursor: pointer;
}
/*---------------------------------------------------------------FINAL DO SITE*/

/*DIV TRONCO DO FINAL DO SITE*/
div#final{
	background-color: rgba(255, 255, 255, 0.2);
}
div#final{
	justify-content: center;
	display: flex;
}
}

@media (min-width: 651px) and (max-width: 824px){
/*POPPUP SOBRE A ADIÇÃO DE UM NOVO PARAMENTO*/
#MensagensSobreAddPag{
    	background: linear-gradient(to left, rgb(188, 238, 196), rgb(171, 208, 250));
    	position: absolute;
    	top: 10%;
    	left: 0%;
    	width: 100%;
    	padding: 1vh;
	transform: translate(-40% -0%);
	font-size: 3vh;
	text-align: center;
    	border: 1px solid #0353ffda;
    	border-radius: 5px;
    	color: #000;
    	animation: alerta 1s infinite linear;
}
/*ANIMAÇÃO PARA O POPPUP DE ADIÇÃO DE UM NOVO PAGAMENTO*/
@keyframes alerta {
    from{
        background: rgb(248, 248, 248);
    }
    50%{
        background: rgb(252, 206, 0);
    }
    to{
        background: rgb(248, 248, 248);
    }
}
#mensagensNovPag p{
    overflow-wrap: break-word;
}
/*POPPUP QUE APARECE ANTES DE SAIR DO SITE*/
dialog#saindoDoSite{
    position: absolute;
    top: 1%;
    margin-left: 50%;
	transform: translate(-50%);
    background: linear-gradient(to left, rgb(0, 255, 42), rgb(0, 119, 255));
    border-radius: 15px;
    padding: 1vh;
    border: 2px solid #0353ffda;
    animation: mover .3s;
    font-size: 2vh;
}
@keyframes mover {
    from{
        top: -10%;
        transform: translate(-50%);
    }
    to{
        top: 1%;
        transform: translate(-50%);
    }
}
/*POPPUP PARA ADICIONAR PAGAMENTO*/
dialog#dialogAddPag{
    background: linear-gradient(to left, rgb(167, 255, 181), rgb(127, 187, 255));
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-40% -40%);
    border: 1px solid #0353ffda;
    border-radius: 15px;
}
/*DIV TRONCO DO POPPUP PARA ADICIONAR PAGAMENTO*/
div#AddPagamento{
    padding: 1vh;
}
/*DIV COM A IMAGEM DO 'X' PARA FECHAR O POPPUP*/
div#imgFechar{
    text-align: right;
}
/*IMAGEM DO 'X' PARA FECHAR O POPPUP*/
img#fechar{
    width: 5vh;
    cursor: pointer;
}
/*TÍTULO 'ADICIONAR NOVO PAGAMENTO'*/
div#AddPagamento h2{
    padding: 1vh;
    text-decoration: underline;
}
/*DIV COM OS IMPUTs DE ENTRADA DOS DADOS*/
#entradasNovPag{
    padding: 1vh;
    display: grid;
    gap: 1vh;
    border: 1px solid #0353ffda;
    border-radius: 15px;
}
/*INPUTs PARA ADICIONAR NOVO PAGAMENTO*/
div#entradasNovPag input,
div#entradasNovPag select{
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
}
/*PLACEHOLDER DE DENTRO DOS INPUTs*/
div#entradasNovPag input::placeholder{
    color: #292727da;
}
/*DIV COM OS BUTTONs PARA SALVAR AS INFORMAÇÕES E PARA APAGAR AS INFORMAÇÕES*/
div#butttons{
    margin-top: 5vh;
    padding: 1vh;
    text-align: center;
}
/*BUTTONs "APAGAR" E "SALVAR"*/
div#butttons button{
    width: 25vh;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
}
/*ANIMAÇÃO QUANDO OS BUTTONs FORAM CLICADOS*/
div#butttons button:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*KEYFRAME DE INTERAÇÃO DOS BUTTTONs*/
@keyframes btncor {
    from{
        color: transparent;
        border: 1px solid #fff;
    }
    50%{
        color: #000;
        border: 1px solid #000;
    }
    to{
        color: transparent;
        border: 1px solid #fff;
    }
}

/*---------------------------------------------------------TOPO DO SITE*/

/*DIV TONCO DO TOPO DO SITE*/
div#topo{
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	border-bottom: 2px solid #000;
}
/*DIV COM A LOGO DO SITE*/
div#logo{
	padding: 1vh;
}
div#logo img{
	width: 17vh;
	border-radius: 15px;
	border: 1px solid #000;
}
/*NOME DO SITE*/
div#nomeSite{
	flex-grow: 1;
	text-align: center;
	font-size: 2vh;
	padding-top: 5vh;
}
/*DIV COM AS INFORMAÇÕES PESSOAIS E O BOTÃO DE SAÍDA*/
div#infoPessoais{
	padding: 2vh;
	width: 40vh;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
div#infoPessoais h3{
	margin-top: 1vh;
	font-size: 2.2vh;
}
/*LABELs AONDE FICAM AS INFORMAÇÕES DA PESSOA QUE FEZ LOGIN*/
div#infoPessoais label{
	display: flex;
}
/*BUTTTON PARA SAIR DO SITE*/
div#topo button{
	margin-top: 5vh;
	margin-right: 2vh;
	margin-left: 2vh;
	padding: 1vh;
	cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
	border-radius: 5px;
}
div#topo button#sair:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
div#buttonSair img{
	width: 6vh;
}

/*---------------------------------------------------------------MEIO DO SITE*/

/*DIV TRONCO DO MEIO DO SITE*/
div#meio{
	height: 76vh;
}
/*BUTTON PARA ADICIONAR NOVO PAGAMENTO*/
button#RegistPag{
	padding: 1vh;
	cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
	border-radius: 5px;
	margin: 1vh;
}
button#RegistPag:hover{
	background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*DIV ONDE TEM A LISTA DE PAGAMENTOS REGISTRADOS*/
div#pagamentos{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 99%;
    height: 91%;
    margin-left: 1vh;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: auto;
}
/*TABELA DE PAGAMENTOS*/
table#tablePagamentos{
    width: 99%;
    height: 3vh;
}
/*LINHA DA TABELA DE PAGAMENTOS*/
table th{
	background-color: green;
	border: 1px solid #000;
	font-weight: bold;
	text-align: center;
	font-size: 2vh;
}
tbody td{
	border: 1px solid #000;
    	text-align: center;
    	font-size: 2vh;
}
tbody td img{
    width: 20px;
    cursor: pointer;
}
/*---------------------------------------------------------------FINAL DO SITE*/

/*DIV TRONCO DO FINAL DO SITE*/
div#final{
	background-color: rgba(255, 255, 255, 0.2);
}
div#final{
	justify-content: center;
	display: flex;
}
}

@media (min-width: 100px) and (max-width: 650px){
/*POPPUP SOBRE A ADIÇÃO DE UM NOVO PARAMENTO*/
#MensagensSobreAddPag{
    	background: linear-gradient(to left, rgb(188, 238, 196), rgb(171, 208, 250));
    	position: absolute;
    	top: 10%;
    	left: 0%;
    	width: 100%;
    	padding: 1vh;
	transform: translate(-50% -0%);
	font-size: 3vh;
	text-align: center;
    	border: 1px solid #0353ffda;
    	border-radius: 5px;
    	color: #000;
    	animation: alerta 1s infinite linear;
}
/*ANIMAÇÃO PARA O POPPUP DE ADIÇÃO DE UM NOVO PAGAMENTO*/
@keyframes alerta {
    from{
        background: rgb(248, 248, 248);
    }
    50%{
        background: rgb(252, 206, 0);
    }
    to{
        background: rgb(248, 248, 248);
    }
}
#mensagensNovPag p{
    overflow-wrap: break-word;
}
/*POPPUP QUE APARECE ANTES DE SAIR DO SITE*/
dialog#saindoDoSite{
    position: absolute;
    top: 1%;
    margin-left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to left, rgb(0, 255, 42), rgb(0, 119, 255));
    border-radius: 15px;
    padding: 1vh;
    border: 2px solid #0353ffda;
    animation: mover .3s;
    font-size: 2vh;
}
@keyframes mover {
    from{
        top: -10%;
        transform: translate(-50%);
    }
    to{
        top: 1%;
        transform: translate(-50%);
    }
}
/*POPPUP PARA ADICIONAR PAGAMENTO*/
dialog#dialogAddPag{
    background: linear-gradient(to left, rgb(167, 255, 181), rgb(127, 187, 255));
    position: absolute;
    top: 10%;
    left: 1%;
    transform: translate(-10% -1%);
    border: 1px solid #0353ffda;background-color: red;
    border-radius: 15px;
}
/*DIV TRONCO DO POPPUP PARA ADICIONAR PAGAMENTO*/
div#AddPagamento{
    padding: 1vh;
}
/*DIV COM A IMAGEM DO 'X' PARA FECHAR O POPPUP*/
div#imgFechar{
    text-align: right;
}
/*IMAGEM DO 'X' PARA FECHAR O POPPUP*/
img#fechar{
    width: 5vh;
    cursor: pointer;
}
/*TÍTULO 'ADICIONAR NOVO PAGAMENTO'*/
div#AddPagamento h2{
    padding: 1vh;
    text-decoration: underline;
}
/*DIV COM OS IMPUTs DE ENTRADA DOS DADOS*/
#entradasNovPag{
    padding: 1vh;
    display: grid;
    gap: 1vh;
    border: 1px solid #0353ffda;
    border-radius: 15px;
}
/*INPUTs PARA ADICIONAR NOVO PAGAMENTO*/
div#entradasNovPag input,
div#entradasNovPag select{
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
}
/*PLACEHOLDER DE DENTRO DOS INPUTs*/
div#entradasNovPag input::placeholder{
    color: #292727da;
}
/*DIV COM OS BUTTONs PARA SALVAR AS INFORMAÇÕES E PARA APAGAR AS INFORMAÇÕES*/
div#butttons{
    margin-top: 5vh;
    padding: 1vh;
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1vh;
}
/*BUTTONs "APAGAR" E "SALVAR"*/
div#butttons button{
    width: 40vh;
    height: 6vh;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
    font-size: 3vh;
}
/*ANIMAÇÃO QUANDO OS BUTTONs FORAM CLICADOS*/
div#butttons button:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*KEYFRAME DE INTERAÇÃO DOS BUTTTONs*/
@keyframes btncor {
    from{
        color: transparent;
        border: 1px solid #fff;
    }
    50%{
        color: #000;
        border: 1px solid #000;
    }
    to{
        color: transparent;
        border: 1px solid #fff;
    }
}

/*---------------------------------------------------------TOPO DO SITE*/

/*DIV TONCO DO TOPO DO SITE*/
div#topo{
	background-color: rgba(255, 255, 255, 0.3);
	display: grid;
	grid-template-columns: 4fr 1fr;
	border-bottom: 2px solid #000;
    width: 100%;
}
/*DIV COM A LOGO DO SITE*/
div#logo{
	padding: 1vh;
}
div#logo img{
	width: 17vh;
	border-radius: 15px;
	border: 1px solid #000;
}
/*NOME DO SITE*/
div#nomeSite{
	text-align: center;
	width: 100%;
	grid-row: 1;
	font-size: 1em;
	padding-top: 5vh;
}
/*DIV COM AS INFORMAÇÕES PESSOAIS E O BOTÃO DE SAÍDA*/
div#infoPessoais{
    width: 100%;
	padding: 2vh;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
div#infoPessoais h3{
	margin-top: 1vh;
	font-size: 2.2vh;
}
/*LABELs AONDE FICAM AS INFORMAÇÕES DA PESSOA QUE FEZ LOGIN*/
div#infoPessoais label{
	display: flex;
}
div#buttonSair{
	display: flex;
	justify-content: center;
	border-top: 1px solid #000;
}
/*BUTTTON PARA SAIR DO SITE*/
div#topo button{
	margin-top: 25%;
	padding: 1vh;
	cursor: pointer;
    	background: linear-gradient(to left, #0099ff, #01fdbe);
    	border: 1px solid #000;
	border-radius: 5px;
	height: 10vh;
}
div#topo button#sair:hover{
    background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
div#buttonSair img{
	width: 6vh;
}

/*---------------------------------------------------------------MEIO DO SITE*/

/*DIV TRONCO DO MEIO DO SITE*/
div#meio{
	height: 76vh;
}
/*BUTTON PARA ADICIONAR NOVO PAGAMENTO*/
button#RegistPag{
	padding: 1vh;
	cursor: pointer;
    background: linear-gradient(to left, #0099ff, #01fdbe);
    border: 1px solid #000;
	border-radius: 5px;
	margin: 1vh;
}
button#RegistPag:hover{
	background: linear-gradient(to left, #ffe600, #01fdbe);
    animation: btncor 1s infinite linear;
}
/*DIV ONDE TEM A LISTA DE PAGAMENTOS REGISTRADOS*/
div#pagamentos{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 97.5%;
    height: 91%;
    margin-left: 1vh;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: auto;
    margin-right: 1vh;
}
/*TABELA DE PAGAMENTOS*/
table#tablePagamentos{
    width: 100%;
    height: 3vh;
}
/*LINHA DA TABELA DE PAGAMENTOS*/
table th{
	background-color: green;
	border: 1px solid #000;
	font-weight: bold;
	text-align: center;
	font-size: 1.5vh;
}
tbody td{
	border: 1px solid #000;
    text-align: center;
    font-size: 1.5vh;
}
tbody td img{
    width: 20px;
    cursor: pointer;
}
/*---------------------------------------------------------------FINAL DO SITE*/

/*DIV TRONCO DO FINAL DO SITE*/
div#final{
	background-color: rgba(255, 255, 255, 0.2);
}
div#final{
	justify-content: center;
	display: flex;
}
}	